.selector {
	display: flex;
	justify-content: center;
}

.container {
	border: solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 960px;
	width: 960px;
}

.line {
	border: solid;
	display: flex;
	flex-basis: 40px;
	justify-content: center;
	margin: 5px 0px;
}

.box {
	flex-basis: 40px;
	background-color: red;
	margin: 0px 5px;
}

.box:hover {
	background-color: pink;
}
